<nav class="px-4 flex h-[50px] bg-white shadow-md mb-4 items-center justify-between">
    <a href="/products">
        <div class="text-3xl font-bold text-stone-800">
            Maxin Store
        </div>
    </a>
    <div class="flex items-center">
        <a href="/upload_product">
            <span class="text-xl text-stone-700 mr-2">
                Upload Product
            </span>
        </a>
        <a href="/cart">
            <div class="flex items-center">
                <div class="flex mr-4 items-center w-[30px] h-[30px] relative">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                    <span class="h-4 w-4 bg-cyan-500 text-white absolute right-0 top-0 rounded-full flex justify-center items-center">
                        {{request.session.items_total}}
                    </span>
                </div>
            </div>
        </a>
        <form action="/logout" method="post">
        {% csrf_token %}
            <button class="bg-red-500 text-white uppercase rounded-md p-2">
                Log Out
            </button>
        </form>
    </div>


</nav>